:root {
  /* Colors */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --Very-dark-blue-main: hsl(217, 54%, 11%);
  --Very-dark-blue-card: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);

  /* Typography */
  --font-family: "Outfit", sans-serif;
  --font-size-paragraph: 18px;
  --font-weight-small: 300;
  --font-weight-medium: 400;
  --font-weight-semi-bold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-paragraph);
  color: var(--soft-blue);
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: var(--Very-dark-blue-main);
}

.card-container {
  max-width: 35rem;
  padding: 2.2rem;
  background-color: var(--Very-dark-blue-card);
  border-radius: 11px;
  box-shadow: 0px 0px 10px 15px rgba(0, 0, 0, 0.16);
}

.card-image img {
  border-radius: 11px;
}

.card-title {
  color: var(--White);
  font-weight: var(--font-weight-semi-bold);
  font-size: 2.1rem;
  margin: 1.5rem 0;
}

.card-details {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 1px solid var(--Very-dark-blue-line);
}

.card-content {
  font-weight: var(--font-weight-medium);
}

.card-price,
.card-time {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  justify-content: center;
}

.card-author {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 1.5rem 0 2rem 0;
  font-size: 1.6rem;
}
.card-author img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 2px solid var(--White);
}

.card-author span {
  color: var(--White);
}

.price {
  color: var(--cyan);
  font-weight: var(--font-weight-medium);
}

.time-left {
  font-weight: var(--font-weight-small);
  color: var(--soft-blue);
}
